
*.pyc
*.ckpt
*.pth
*.egg-info
*.mp4
*.png
*.jpg
*.npz
*.safetensors
/outputs
/checkpoints
/tmp
/logs
/dataset
/workdir
/debug
*__pycache__*
batch*
/.vscode
/.ipynb_checkpoints
*.ipynb_checkpoints
/test